<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>

  <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>{{content}}</p>
    <a href="https://vexuzdorotan.pythonanywhere.com/" target="blank" id="vexfolio">
      <img class="portrait" src="./img/vex-avatar.png" alt="VeXuZ">
    </a>
    <p>My small weather app is made possible by the help of</p>
    <p><span><a href="https://www.udemy.com/course/the-complete-nodejs-developer-course-2/" target="blank">The Complete
          Node.js Developer Course</a></span></p>
  </div>

  {{>footer}}
</body>

</html>