<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather</title>

  <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="main-content">
    {{>header}}

    <p>Use this site to get your weather! ⛅</p>

    <form action="">
      <input type="text" placeholder="Location">
      <button>Search</button>
    </form>

    <p id="message-1"></p>
    <p id="message-2"></p>
    <img src="https://assets.weatherstack.com/images/wsymbols01_png_64/wsymbol_0002_sunny_intervals.png"
      alt="Forecast Image" id="img-forecast">
  </div>

  {{>footer}}

  <script src="/js/app.js"></script>
</body>

</html>